ion-grid{
    height: 100%;
}
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.btn-con {
    margin-top: 0px;

}

.main-img {
    height: 150px;
}

.login-link {
    margin-top: 10px;
    text-decoration: none;
}