<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addExerciseAlert()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="db-main-card">
          <ion-card-header>
            <img
              class="db-main-icon"
              src="assets/images/3dicons/gym-dynamic-gradient.png"
            />
          </ion-card-header>

          <ion-card-content>
            <h1 class="db-main-h1">Welcome</h1>
            <h2 class="db-main-h2">{{user?.firstname}}<br>{{user?.lastname}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="db-main-card">
          <ion-card-header>
            <img
              class="db-main-icon"
              src="assets/images/3dicons/file-fav-dynamic-gradient.png"
            />
          </ion-card-header>

          <ion-card-content>
            <h1 class="db-main-h1">Stats</h1>
            <h2 class="db-main-h2">{{weight}} kg</h2>
            <h2 class="db-main-h2">{{user?.height}} cm</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="8">
          <ion-card-content>
            <h1 class="db-main-h1">BMI</h1>
            <h2 class="db-main-h2">{{user?.bmi}}</h2>
            <h2 class="db-main-h2">{{bmi_text}}</h2>
          </ion-card-content>
          
        </ion-col>
        <ion-col size="4">
          <ion-card-content>
            <img
              class="db-main-icon"
              src="assets/images/3dicons/fire-dynamic-gradient.png"
            />
          </ion-card-content>


        </ion-col>
      </ion-row>
    </ion-card>


    <ion-searchbar animated
      [(ngModel)]="searchTerm"
    ></ion-searchbar>

    <!--
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pull">
        <ion-label>Pull</ion-label>
      </ion-segment-button>
      <ion-segment-button value="push">
        <ion-label>Push</ion-label>
      </ion-segment-button>
      <ion-segment-button value="leg">
        <ion-label>leg</ion-label>
      </ion-segment-button>
    </ion-segment>
  -->


    <ion-card *ngFor="let model of exercises | filter:searchTerm" (click)="openExercise(model)">
          <ion-card-content>
            <h1 class="db-main-h1">{{model.name}}</h1>
            <h2 class="db-main-h2">{{model.gewicht}} kg</h2>
          </ion-card-content>
    </ion-card>







  </ion-grid>


</ion-content>
