<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dashboard </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="db-main-card">
          <ion-card-header>
            <img
              class="db-main-icon"
              src="assets/images/3dicons/gym-dynamic-gradient.png"
            />
          </ion-card-header>

          <ion-card-content>
            <h1 class="db-main-h1">Mittwoch</h1>
            <h2 class="db-main-h2">nächstes Workout</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="db-main-card">
          <ion-card-header>
            <img
              class="db-main-icon"
              src="assets/images/3dicons/file-fav-dynamic-gradient.png"
            />
          </ion-card-header>

          <ion-card-content>
            <h1 class="db-main-h1">Stats</h1>
            <h2 class="db-main-h2">81kg</h2>
            <h2 class="db-main-h2">188cm</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-card>
      <ion-row>
        <ion-col size="8">
          <ion-card-content>
            <h1 class="db-main-h1">BMI</h1>
            <h2 class="db-main-h2">28</h2>
            <h2 class="db-main-h2">Normalgewicht</h2>
          </ion-card-content>
          
        </ion-col>
        <ion-col size="4">
          <ion-card-content>
            <img
              class="db-main-icon"
              src="assets/images/3dicons/fire-dynamic-gradient.png"
            />
          </ion-card-content>


        </ion-col>
      </ion-row>
    </ion-card>


    <ion-searchbar animated ></ion-searchbar>

    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pull">
        <ion-label>Pull</ion-label>
      </ion-segment-button>
      <ion-segment-button value="push">
        <ion-label>Push</ion-label>
      </ion-segment-button>
      <ion-segment-button value="leg">
        <ion-label>leg</ion-label>
      </ion-segment-button>
    </ion-segment>



    <ion-card>
          <ion-card-content>
            <h1 class="db-main-h1">Latzug</h1>
            <h2 class="db-main-h2">55kg</h2>
          </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <h1 class="db-main-h1">Rudern</h1>
        <h2 class="db-main-h2">40kg</h2>
      </ion-card-content>
    </ion-card>





  </ion-grid>


</ion-content>
